<h1><%= @passenger.name %></h1>

<ul>
<% @passenger.tickets.each do |ticket| %>
	<li><%= link_to ticket.seat_num, ticket_path(ticket) %> | 
	<%= link_to ticket.flight.destination, ticket.flight %></li>
<% end %>
</ul>
